*{
   box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

body{
  background:url(https://www.shutterstock.com/image-vector/world-autism-awareness-day-colorful-600nw-2255061525.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}

h1{
  font-family: 'Times New Roman';
  font-size: 40px;
  color:#ffe014;
}

header{
   background-color: #959ff9;
   padding: 20px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center
}

nav{
   padding: 20px;
   text-align: center;
}

nav ul, nav li, nav a{
   display: inline-block;
   list-style-type: none;
   transition: background-color 0.5s ease;
}

nav a:hover{
   background-color: #0c4692;
   color: #ffffff;
}

a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
  display:inline-block;
  background: #6ca0e5;
  color: #0c4692;
  padding: 10px 20px;
  box-shadow: 0px 5px 0px #0c4692;;
}

a:link{
  color: #ffe014;
}

p{
  color: #0c4692;
  font-size: 18px;
}

h2{
  color: #ff2424
}

h3{
  color:  #ffa424
}

img{
  width: 250px;
  height: 160px;
  margin: 10px;
  border-radius: 20px;
box-shadow: 5px 5px  #ffa424 ;
}

section{
  float:left;
  margin: 10px;
}

.contenedor{
  display: flex;               
  gap: 20px;                  
  justify-content: center;     
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

main{
  flex: 70%;
  background-color: white;
  padding: 20px;
}

ul{
  list-style-type: square;
  list-style-position: inside;
}

div{
float:left;
}

table{
border: 1px solid gray;
font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
  padding: 8px;
}

r:nth-child(even){
  background-color: #dddddd;
}

tr:hover{
  background-color: #d9d9d9;
}

td:hover{
  background-color: #c7c7c7;
  color: red;
}

th{
  padding: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffe014;
  color: white;
}

footer{
  width: 100%;
  background-color: #959ff9;
  color: #0f000b;
  padding: 20px;
  text-align: center;
}
